<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Bergflix</title>
    </head>
    <body>
        <div id="navbar">
            <a href="/">
                <!-- Video goes here -->
                Video PlaceHolder
            </a>
            <a href="https://www.linkedin.com/in/alan-bergsneider-58532a193/">
                <!-- Linkedin Icon goes here -->
                LinkedIn
            </a>
            <a href="https://github.com/alanb43/">
                <!-- Icon goes here -->
                Github
            </a>
            <a href="https://drive.google.com/file/d/1BUlw9XlI0vPsh6iyMM5I-z9QUh5cf6rz/view">
                <!-- Icon goes here -->
                Resume
            </a>
            <a href="/contact/">
                <!-- Icon goes here -->
                Contact
            </a>
        </div>
        {% block page_content %}
        <!-- Where other templates' contents will be loaded into the page -->
        {% endblock %}
    </body>
</html>
